body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 7%;
    height: 7%;
}
.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.admin_image{
    width: 100px;
    object-fit: contain;
}

