body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 7%;
    height: 7%;
}
.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: contain;
} 
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.ad{
    width: 100px;
    object-fit: contain;

}

.card {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

.col-md-4 {
    display: flex;
    margin-bottom: 20px; 
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: contain;
} 
.cart_img{
    height: 50px;
    width: 50px;
}
